<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
<div class="row" id="contact" >
<div class="box">
<h4><i class='bx  bxs-contact' style="color: black;"></i>  Contact:85471 39100</h4>
<br>
<h4><i class='bx  bxl-gmail' style="color: black;"></i> Email: support@smechub.com</h4>
<br>
<h4><i class='bx  bx-current-location' style="color: black;"></i> Kaloor, Ernakulam, Kerala - 502001</h4>

</div>
</div>
<div class="contact">
<h1>Contact Us</h1>

<form class="form" action="#" id="form">
<label>Name:</label>
<input type="text" class="uname" name="name" placeholder="Enter Your Full Name">

<br><br>
    <textarea name="paragraph_text" class="formtext" cols="50" rows="10" placeholder="Enter Your Query here......"></textarea>

</textarea>
<br>
<input type="submit" class="submit">
</form>
</div>

</body>
</html>