<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <title>help</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/help.css' %}">
</head>
<body>

  <h1 class="help">Help and Support</h1>

<div class="div1">
  <h1 class="help2">Hey how can we help you?</h1>
</div>
 <div class="div2"> <h2 class="con">we are here to provide you 24X7 service here are our contact number</h2></div>
 <h2 class="con1">+91 88980988</h2>
 <h2 class="con2">+91 88777788</h2>
 <img class="imagei" src="{% static 'img/custemer.png' %}" />
 <h2 class="con3">Here are our social Account</h2>
 <div>
 <img class="image1" src="{% static 'img/fb.png' %}"/>
 <p class="p1">@smechub</p>
</div>
 <img class="image2" src="{% static 'img/insta.png' %}"/>
 <p class="p2">@smec__hub</p>
 <img class="image3" src="{% static 'img/x.png' %}"/>
 <p class="p3">@smechub</p>
</body>
</html>