<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>

<div class="container">
    <form class="form" method="post" id="form" action="{% url 'register' %}">
    {% csrf_token %}
    <div class="header">
        <h2>Create Account</h2>
    </div>
    <div class="form-control">
        <label for="name">Name</label>
        <input type="text" placeholder="Enter your name" id="name" name="name">
        <i class='bx bxs-check-circle'></i>
        <i class='bx bxs-alarm-exclamation'></i>
        <small>Error message</small>
    </div>
    <div class="form-control">
        <label for="contact">Mobile No.</label>
        <input type="text" placeholder="Enter your contact no." id="contact" name="contact">
        <i class='bx bxs-check-circle'></i>
        <i class='bx bxs-alarm-exclamation'></i>
        <small>Error message</small>
    </div>
    <div class="form-control">
        <label for="password">Password</label>
        <input type="password" placeholder="Enter your password" id="password" name="password">
        <i class='bx bxs-check-circle'></i>
        <i class='bx bxs-alarm-exclamation'></i>
        <small>Error message</small>
    </div>
    <div class="form-control">
        <label for="password2">Confirm Password</label>
        <input type="password" placeholder="Enter password again" id="password2" name="password2">
        <i class='bx bxs-check-circle'></i>
        <i class='bx bxs-alarm-exclamation'></i>
        <small>Error message</small>
    </div>
    <button type="submit">Register</button>
</form>

    <div class="signuplink">
      <p>Already have an account?<a class="signuppath" href="{% url 'login' %}">Signin</a></p>
    </div>
</div>

</body>
</html>