*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    background-color: hsl(0, 0%, 96%);
    }
.wishlist-items{
    background-color: white;
    padding-bottom: 44px;
    border: 2px solid #05D1DF;
}
.navbar-text{
    font-family: 'poppins';
}
.icon-cart{
    color: #000000;
    font-size: 20px;
}
.card:hover{
        box-shadow: 0 5px 45px rgb(63, 61, 61);
    }
    .price{
        font-size: 14px;
        margin-right: 50px;
    }
    .icon-star {

        color: #fee900;
    }
    .btn{
        background-color: #05D1DF;
    }
    .btn:hover{
        opacity: 0.7;
    }
    .icon-close{
        color: #000000;
    margin-left: 190px;
    font-size: 20px;
    }